/************ GRIDS ************/

/*** VELKOMMEN PÅ INDEX ***/
.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
}

/*** MINE PROJEKTER ***/
.grid_1-1-1-1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
/*** OM MIG ***/
.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.flex_col {
  display: flex;
  flex-direction: column;
}

/*** FOOTER ***/
.grid_footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

/* DESKTOP */
@media (min-width: 800px) {
  /*** VELKOMMEN PÅ INDEX ***/
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  /*** MINE PROJEKTER ***/
  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  /*** OM MIG ***/
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 30px;
  }
  .flex_col {
    display: flex;
    flex-direction: column;
  }

  col img {
    max-width: 100%;
    height: auto;
  }

  .flex_col img {
    height: 360px;
    object-fit: cover;
    align-self: end;
  }

  #col1 {
    margin-top: auto;
  }

  #col2_3 {
    margin-bottom: auto;
  }

  /*** FOOTER ***/
  .grid_footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
