/*** RESET ***/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*** GENEREL CSS ***/

.indhold {
  max-width: 70%;
  margin: 0 auto;
  padding: 25px;
  transition: all 0.3s ease;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #fffeef;
}

h1 {
  font-family: "Neue Montreal", sans-serif;
  font-size: 128px;
  color: #f00f09;
  padding: 5px;
  font-weight: lighter;
}

h2 {
  font-family: "Neue Montreal", sans-serif;
  font-weight: lighter;
  font-size: 25px;
  letter-spacing: 7px;
  text-align: right;
  padding: 10px;
}

h3 {
  font-family: "Source Code Pro", serif;
  font-size: 40px;
  font-weight: 300;
  background: radial-gradient(circle, #f00f09, #f0c169, #fffcf3, #fffeef) 75%;
  padding: 190px 10px 190px 0;
}

p {
  font-family: "Neue Montreal", sans-serif;
  font-weight: lighter;
  font-size: 18px;
  overflow: hidden;
  padding: 15px 0;
  line-height: 150%;
  word-wrap: break-word;
}

a {
  font-family: "Source Code Pro", serif;
  font-size: 50px;
  color: black;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  display: flex;
}

.divider {
  border-top: 1px solid #f00f09;
  margin-top: 30px;
  margin-bottom: 40px;
}

/*** FORSIDE ***/

.velkommen {
  font-size: 22px;
  display: flex; /* Gør det nemt at justere placering af indhold */
  justify-content: flex-start; /* Højrejuster teksten vandret */
  align-items: flex-end; /* Placer teksten i bunden lodret */
  text-align: right; /* Justér teksten inden for boksen til højre */
  height: 100%; /* Sørg for, at containeren strækker sig over hele højden */
}

.introduktion {
  font-size: 18px;
  display: flex; /* Gør det nemt at justere placering af indhold */
  justify-content: flex-end; /* Højrejuster teksten vandret */
  align-items: flex-end; /* Placer teksten i bunden lodret */
  text-align: right; /* Justér teksten inden for boksen til højre */
  height: 100%; /* Sørg for, at containeren strækker sig over hele højden */
  margin: 10px 10px 10px;
}

.forside_billede {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

/*** PROJEKTER ***/

.gradient_baggrund {
  background: radial-gradient(circle, #f00f09, #f0c169, #fffcf3, #fffeef) 50%;
  opacity: 0.7;
}

.screenshots {
  object-fit: cover;
  justify-self: auto;
  max-width: 100%;
  height: auto;
  padding: 10px 0;
}

.projekter {
  text-align: right;
  padding: 30px 10px 30px 50px;
}

.h1_mindre {
  font-size: 55px;
  text-align: right;
  padding: 30px 10px 20px 10px;
  margin: 10px 10px;
}

.h2_venstre {
  text-align: left;
  font-size: 50px;
  padding: 0;
}

.uden_baggrund {
  background: none;
  padding: 10px 10px 0;
  text-align: right;
}

.link_til_site {
  color: #f00f09;
  font-style: italic;
}

/* Da passionssite og virksomhedssite ville fylde for meget */
.link_til_site_mindre {
  font-family: "Fira Code", monospace;
  font-size: 30px;
  color: #f00f09;
  font-style: italic;
}

/* min løsning afsnit nederst */
.p_loesning {
  text-align: center;
  padding: 10px 0;
}
.h2_loesning {
  text-align: left;
  padding: 10px 0;
  font-size: 20px;
  line-height: 150%;
  word-wrap: break-word;
}

/*** OM MIG ***/

.om_mig_billede {
  object-fit: cover;
  justify-self: auto;
  max-width: 100%;
  height: auto;
  padding: 10px 30px 0;
}

.p_om_mig {
  font-size: 16px;
  padding: 10px 30px 0;
}

.h2_om_mig {
  font-size: 50px;
  text-align: left;
  padding: 10px 30px 0;
}

/*** FOOTER ***/

.footer {
  font-size: 50px;
  padding: 0;
}

.pil {
  max-width: 30%;
  padding: 0;
}

.p_footer {
  font-size: 16px;
  font-weight: bold;
  padding: 2px 10px;
  margin: 0;
  text-align: right;
}

/*** DESKTOP TEKST + BILLEDER ***/

@media (min-width: 800px) {
  .indhold {
    max-width: 45%;
  }

  /*** FORSIDE ***/
  .velkommen {
    font-size: 50px;
    text-align: right;
    justify-content: flex-end;
    align-items: flex-end;
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
  }

  .forside_billede {
    object-fit: cover;
    justify-self: right;
    max-width: 50%;
    height: auto;
    grid-row: 1 / span 1;
    grid-column: 3 / span 2;
  }

  .introduktion {
    padding: 10px 10px 10px 750px;
    margin: 0;
  }

  /*** PROJEKTER ***/
  h3 {
    padding: 350px 10px 350px 10px;
  }

  .projekter {
    text-align: right;
    padding: 30px 10px 30px 500px;
  }

  .h1_mindre {
    font-size: 75px;
    text-align: right;
    padding: 100px 10px 20px 10px;
  }

  .uden_baggrund {
    background-color: transparent;
    font-size: 70px;
    padding: 10px 10px 0;
  }

  .p_centreret {
    line-height: 150%;
    word-wrap: break-word;
  }

  /*** FOOTER ***/

  .footer {
    font-size: 150px;
    padding: 0;
    max-width: 100%;
  }

  .pil {
    max-width: 100px;
    padding: 0;
  }

  .p_footer {
    font-size: 25px;
  }
}

/*** NAV-BAR DESKTOP***/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fffeef;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: auto;
  width: 100%;
  justify-content: space-between;
  /* transition: height 0.4s ease, opacity 0.4s ease; */
  transition: height 0.4s ease-out, opacity 0.4s ease-out;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  font-family: "Neue Montreal", sans-serif;
  font-size: 40px;
  display: block;
  padding: 0 22px;
  color: #f00f09;
  text-decoration: none;
  transition: transform 0.4s ease-out, color 0.4s ease-out;
  text-align: end;
}

.menu a:hover {
  color: #f0c169;
  transform: scale(1.2);
  transition: 0.7s;
}

.burger {
  width: 20%;
  height: 20%;
  cursor: pointer;
  margin: 10px;
  padding: 5px;
  color: #fffcf3;
}

.burger img {
  width: 100%;
  height: auto;
  margin-bottom: 5px;
}
.burger {
  display: none;
}

/*** NAV-BAR MOBILE ***/
@media screen and (max-width: 800px) {
  .menu {
    flex-direction: column;
    padding: 0px;
    display: none;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background: radial-gradient(circle, #f00f09, #f0c169, #96c7c7) 100%;
    background-size: cover;
    overflow: hidden;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
  nav {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
  }

  nav.active .menu {
    display: block;
    background-size: cover;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-family: "Neue Montreal", sans-serif;
    font-size: 60px;
    line-height: 200%;
    color: #fffeef;
    transition: transform 0.4s ease-out, color 0.4s ease-out;
    padding-right: 0;
  }

  nav.active .menu a:hover {
    transform: scale(1.1); /* Gør teksten større ved hover */
    color: #f00f09; /* Ændrer farven ved hover */
  }
}
/*** NAV BAR SLUT ***/

/*** FONTE ***/

@font-face {
  font-family: "Neue Montreal", sans-serif;
  src: url(../fonte/ppneuemontreal-book.woff);
  font-style: normal;
  font-weight: lighter;
}

/* HAVDE PROBLEMER MED AT FÅ FONTEN TIL AT FUNGERE, MÅSKE HAR DET VÆRET EN TRIAL SOM IKKE KUNNE VIRKE PÅ MIT DOMÆNE?

@font-face {
  font-family: "Ssonder_Regular", serif;
  src: url(../fonte/ssondertrial-regular-webfont.woff) format(woff);
  src: url(../fonte/ssondertrial-regular-webfont.woff2) format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "Ssonder_Italic", serif;
  src: url(../fonte/ssondertrial-italic-webfont.woff) format(woff);
  src: url(../fonte/ssondertrial-italic-webfont.woff2) format(woff2);
  font-style: italic;
} */
