/*** RESET ***/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*** VARIABLER ***/
html {
  --vanilla: #fffeef;
  --red: #f00f09;
  --yellow: #f0c169;
  --white: #fffcf3;
  scroll-behavior: smooth;
}

/*** GENEREL CSS ***/

.indhold {
  max-width: 70%;
  margin: 0 auto;
  padding: 25px;
  transition: all 0.3s ease;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--vanilla);
}

h1 {
  font-family: "Neue Montreal", sans-serif;
  font-weight: lighter;
  font-size: 128px;
  color: var(--red);
  padding: 10px;
}

h2 {
  font-family: "Neue Montreal", sans-serif;
  font-weight: lighter;
  font-size: 25px;
  letter-spacing: 7px;
  text-align: right;
  padding: 0 10px;
}

h3 {
  font-family: "Source Code Pro", serif;
  font-size: 40px;
  font-weight: 300;
  background: radial-gradient(circle, var(--red), var(--yellow), var(--white), var(--vanilla)) 75%;
  padding: 190px 10px 190px 0;
}

p {
  font-family: "Neue Montreal", sans-serif;
  font-weight: lighter;
  font-size: 18px;
  overflow: hidden;
  padding: 10px 0;
  line-height: 150%;
  word-wrap: break-word;
}

a {
  font-family: "Source Code Pro", serif;
  font-size: 50px;
  color: black;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  display: flex;
}

.divider {
  border-top: 1px solid var(--red);
  margin: 30px 0;
}

/*** FORSIDE ***/

.velkommen {
  font-size: 22px;
  display: flex;
  justify-content: flex-start; /* højrejusterer teksten vandret */
  align-items: flex-end; /* placerer teksten i bunden lodret */
  text-align: right;
  height: 100%; /* gør at containeren strækker sig over hele højden */
}

.introduktion {
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
  height: 100%;
  margin: 10px 10px 10px;
}

.forside_billede {
  object-fit: cover;
  width: 295px;
  height: 371px;
}

.start {
  font-size: 50px;
  padding: 0;
  font-family: "Neue Montreal", sans-serif;
  font-weight: lighter;
  color: var(--red);
  padding: 10px;
}

/*** PROJEKTER ***/

.gradient_baggrund {
  background: radial-gradient(circle, var(--red), var(--yellow), var(--white), var(--vanilla)) 50%;
  opacity: 0.7;
}

.screenshots {
  object-fit: cover;
  justify-self: auto;
  max-width: 100%;
  height: auto;
  padding: 10px 0;
}

.projekter {
  text-align: right;
  padding: 30px 10px 30px 50px;
}

.h1_mindre {
  font-size: 60px;
  text-align: right;
  padding: 30px 10px 0 10px;
  margin: 0 10px;
}

.h2_venstre {
  text-align: left;
  font-size: 50px;
  padding-top: 20px;
  padding-left: 0;
}

.uden_baggrund {
  background: none;
  padding: 10px 10px 0;
  text-align: right;
}

/* min løsning afsnit nederst */
.p_loesning {
  text-align: center;
  font-size: 25px;
  letter-spacing: 3px;
}

.h2_loesning {
  text-align: left;
  padding: 35px 0 2px 0;
  font-size: 20px;
  line-height: 150%;
  word-wrap: break-word;
}

.link_til_site {
  font-size: 30px;
  color: var(--red);
  font-style: italic;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.5s ease-in-out, color 0.5s ease-in-out;
}

.link_til_site:hover {
  color: black;
  transform: scale(1.1);
}

/* Da passionssite og virksomhedssite ville fylde for meget */
.link_til_site_mindre {
  font-family: "Fira Code", monospace;
  font-size: 20px;
  color: var(--red);
  font-style: italic;
  transform: scale(1);
  transition: transform 0.5s ease-in-out, color 0.5s ease-in-out;
}

.link_til_site_mindre:hover {
  color: black;
  transform: scale(1.1);
}

/*** OM MIG ***/

.om_mig_billede {
  object-fit: cover;
  justify-self: auto;
  max-width: 100%;
  height: auto;
  padding: 10px 30px 0;
}

.p_om_mig {
  font-size: 16px;
  padding: 10px 30px 0;
}

.h2_om_mig {
  font-size: 50px;
  text-align: left;
  padding: 10px 30px 0;
}

.h2_om_mig_kontakt {
  font-size: 30px;
  text-align: left;
  padding: 10px 30px 0;
}

.CV {
  max-width: 100%;
  margin: 0 auto;
  padding: 25px;
  justify-content: center;
  align-items: center;
}

/*** FOOTER ***/

.footer {
  font-family: "Neue Montreal", sans-serif;
  font-size: 50px;
  font-weight: lighter;
  color: var(--red);
  padding: 0;
}

.pil {
  max-width: 45px;
  padding: 0;
}

.p_footer {
  font-family: "Neue Montreal", sans-serif;
  font-weight: lighter;
  font-size: 16px;
  padding: 2px 10px;
  margin: 0;
  text-align: right;
}

/*** DESKTOP TEKST + BILLEDER ***/

@media (min-width: 800px) {
  .indhold {
    max-width: 45%;
  }

  /*** FORSIDE ***/

  h1 {
    font-size: 150px;
    color: var(--red);
  }

  .velkommen {
    font-size: 50px;
    padding-right: 0;
    text-align: right;
    justify-content: flex-end;
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
  }

  .forside_billede {
    object-fit: cover;
    justify-self: right;
    padding-right: 20px;
    max-width: 50%;
    height: auto;
    grid-row: 1 / span 1;
    grid-column: 3 / span 2;
  }

  .introduktion {
    padding: 10px 10px 10px 750px;
    margin: 0;
  }

  .start {
    font-size: 150px;
    max-width: 100%;
    padding: 10px;
  }

  .fade_in {
    animation-name: fade_in_kf;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  }

  @keyframes fade_in_kf {
    from {
      scale: 100%;
      opacity: 0%;
    }
    to {
      scale: 100%;
      opacity: 100%;
    }
  }

  /*** PROJEKTER ***/

  h3 {
    padding: 350px 10px 350px 10px;
  }

  .h3_scale a {
    color: black;
    transform: scale(1);
    transition: transform 0.5s ease-in-out, color 0.5s ease-in-out;
  }

  .h3_scale a:hover {
    color: #fffcf3;
    transform: scale(1.1);
  }

  .projekter {
    text-align: right;
    padding: 30px 10px 30px 500px;
  }

  .h1_mindre {
    font-size: 90px;
    text-align: right;
    padding: 100px 10px 0 10px;
  }

  .uden_baggrund {
    background-color: transparent;
    font-size: 70px;
    padding: 10px 10px 0;
  }

  .p_centreret {
    line-height: 150%;
    word-wrap: break-word;
  }

  .p_loesning {
    text-align: center;
    font-size: 50px;
    letter-spacing: 7px;
  }

  /*** FOOTER ***/

  .footer {
    font-size: 150px;
    max-width: 100%;
  }

  .pil {
    max-width: 100px;
  }

  .p_footer {
    font-size: 25px;
  }
}

/*** NAV-BAR DESKTOP***/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--vanilla);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: auto;
  width: 100%;
  justify-content: space-between;
  transition: height 0.4s ease-out, opacity 0.4s ease-out;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  font-family: "Neue Montreal", sans-serif;
  font-size: 40px;
  display: block;
  padding: 0 22px;
  color: var(--red);
  text-decoration: none;
  transition: transform 0.4s ease-out, color 0.4s ease-out;
  text-align: end;
}

.menu a:hover {
  color: var(--yellow);
  transform: scale(1.2);
  transition: 0.7s;
}

.burger {
  width: 20%;
  height: 20%;
  cursor: pointer;
  margin: 10px;
  padding: 5px;
  color: var(--vanilla);
}

.burger img {
  width: 100%;
  height: auto;
  margin-bottom: 5px;
}
.burger {
  display: none;
}

/*** NAV-BAR MOBILE ***/

@media screen and (max-width: 800px) {
  .menu {
    flex-direction: column;
    padding: 0px;
    display: none;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background: radial-gradient(circle, var(--red), var(--yellow), var(--vanilla)) 100%;
    background-size: cover;
    overflow: hidden;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
  nav {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
  }

  nav.active .menu {
    display: block;
    background-size: cover;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-family: "Neue Montreal", sans-serif;
    font-size: 60px;
    line-height: 200%;
    color: #fffeef;
    transition: transform 0.4s ease-out, color 0.4s ease-out;
    padding-right: 5px;
  }

  nav.active .menu a:hover {
    transform: scale(1.1);
    color: var(--red);
  }
}

/*** FONTE ***/

@font-face {
  font-family: "Neue Montreal";
  src: url(../fonte/ppneuemontreal-book.woff);
  font-style: normal;
}
