@font-face {
    font-family: 'Neue Montreal';
    src: url('NeueMontreal-Light.woff2') format('woff2'),
        url('NeueMontreal-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

